@font-face {
  font-family: RobotoRegular;
  src: url('/src/assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: RobotoMedium;
  src: url('/src/assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
