@import 'src/styles/fonts';

//
// Fonts
//

@mixin RobotoRegular {
  font-family: RobotoRegular, sans-serif;
}

@mixin RobotoMedium {
  font-family: RobotoMedium, sans-serif;
  font-weight: 500;
}
//
// Animations
//

@mixin transition($property...) {
  transition: .3s $property ease-in-out;
}
