@import 'src/styles/mixins';
@import 'src/styles/variables';

.root {
  @include RobotoRegular;
  color: $greyDark;
  letter-spacing: 0.075em;

  &.m {
    font-size: 12px;
    line-height: 14px;
  }

  &.l {
    font-size: 14px;
    line-height: 16.41px;
  }

  &.semiBold {
    @include RobotoMedium;
  }
}
